@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  src: local("cuprum"), url(/src/fonts/cuprum.woff)
}



@font-face {
  font-family: "Cuprum-italic";
  font-weight: 400;
  src: local("cuprumitalic"), url(/src/fonts/cuprumitalic.woff)
}