@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  src: local("cuprum"), url(/src/fonts/cuprum.woff)
}



@font-face {
  font-family: "Cuprum-italic";
  font-weight: 400;
  src: local("cuprumitalic"), url(/src/fonts/cuprumitalic.woff)
}


@font-face {
  font-family: "Pt Sans";
  font-weight: 400;
  src: local("ptsans"), url(/src/fonts/ptsans.woff)
}

@font-face {
  font-family: "Pt Sans";
  font-weight: 700;
  src: local("ptsans"), url(/src/fonts/ptsansbold.woff)
}