.main {
   .container {
      .main-goods {
         color: black;
         background: url(/src/img/goods.png) top;
         min-height: 500px;
         &__gallery-header {
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding-top: 30px;
            padding-left: 30px;
            padding-bottom: 20px;
            padding-right: 10px;

         }
         &__title {
            
            font-size: 30px;
            line-height: 30px;
            font-weight: 400;
            text-transform: uppercase;
         }
         &__button {
            display: inline-block;
            padding: 7px 15px;
            background-color: red;
         }

      }
   }
}