.header {
   background-color: #F3F7F8;
   padding-bottom: 60px;
   margin-bottom: 60px;
   .header-top {
   .container {
   display:flex;
   justify-content: space-between;
   margin-bottom: 45px;
   align-items: center;
   background-color: #293449;
   
      &__logo {
         position: relative;
         max-width: 220px;
         width: 100%;
         padding-top: 10px;
         padding-bottom: 7px;
         text-align: center;
         background-color: #EE3643;
         &:active {
            background-color:#BA2732;
         }
         &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 5px;
            background-color: #B42A33;
            bottom: -5px;
            left: 0;
         }
      }
      &__search {
         display: inline-block;
         &:hover {
          .header-top__search-icon {
             opacity: 1;
          }  
         }

         &-icon {
            position: relative;
            display: inline-block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 2px solid white;
            opacity: 0.3;
            &::after{
               position: absolute;
               content: "";
               width: 2px;
               height: 7px;
               background-color: white;
               bottom: -5px;
               right: -2px;
               transform: rotate(-45deg);  
            }
         }
      } 
      &__bookmarks {
            padding: 9px 20px;
            margin-right: 20px;
            svg {
                margin-right: 5px;
                opacity: 0.3;
      
            }
            &:hover {
               svg {
                  opacity: 1;
               }
            } 
            &:active {
               background-color: black;
               opacity: 0.3;
            }
         }    

      &__basket {
            margin-right: 25px;
            padding: 9px 20px;   
            svg {
                  margin-right: 5px;
                  opacity: 0.3;
            }        
            
            &:hover {
               svg {
                  opacity: 1;
               }
            } 
            &:active {
               background-color: black;
               opacity: 0.3;
            }
         }

      &__order {
            display: inline-block;
            min-width: 150px;
            padding: 9px 20px;
            background-color: #63A63E;
            &:hover {
               background-color: #5FBB2D;
            }
            &:active {
              color: #B1D29E;
              background-color: #63A63E;
            }
      }
   }
}
.header-nav {
   padding-left: 28px;
   padding-right: 30px;
   background-color: #32425C;
   border-bottom: 5px solid #293449;
   
   &__list {
      display: flex;
      justify-content: space-between;
   }
   &__link {
      display: inline-block;
      color:white;
      padding: 17px 28px 14px;
      &:hover {
         background-color: #293449;
      }
      &:active {
         background-color: #1D2739;
         color: #8E939C;
      }
   }
 }
} 
   &-middle {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;
      &__description {
         font-family: "Cuprum-italic", sans-serif;
         margin: 0;
         margin-right: 90px;
         padding-left: 30px;
         padding-bottom: 5px;
         max-width: 230px;
         width: 100%;
         color: #EE3643;
         font-size: 16px;
         line-height: 23px;

      }

      &__contacts {
         text-align: center;
         margin-right: 70px;
         .header-middle__telephone {
            display: inline-block;
            margin-bottom: 5px;
            min-width: 270px;
            padding: 4px 11px 5px 40px;
            color: #EE3643;
            font-size: 21px;
            line-height: 30px;
            font-weight: 700;
            letter-spacing: 0.3px;
            border: 3px solid white;
            background: url(/src/img/icon-phone.svg) no-repeat;
            background-position: 35px ;
         }

         address {
            font-size: 14px;
            line-height: 24px;
            font-style: normal;
            color: #32425C;
            color: #63A63E;
         }
      }

      &__button {
         font-family: "Cuprum",sans-serif;
         font-size: 21px;
         line-height: 21px;
         background: white;
         outline: none;
         border: none;
         cursor: pointer;
         &:hover {
            color: red;
         }
         &:active {
            color: #C5C5C5;

            }
         }
         &__login {
         margin-right: 10px;
         padding:13px 29px 11px 17px;
         &:hover {
            svg {   
               fill: #3D546F;//почему color не меняется при ховере ??
            }
         }   
         svg {
            margin-right: 5px;
         }    
      } 
      &__registration {
         padding:13px 24px 11px 24px;
      }
      }

      
   

